<footer class="main-footer">
    <div class="pull-right hidden-xs">
        Some arbitrary links
    </div>
    <strong>Made with ❤ by <a href="https://www.kevinpapst.de/">Kevin Papst</a>.</strong> All rights reserved.
</footer>
