<form method="post">
    <h3 class="control-sidebar-heading">{{ 'General Settings'|trans({}, 'AdminLTEBundle') }}</h3>

    <div class="form-group">
        <label class="control-sidebar-subheading">
            {{ 'Report panel usage'|trans({}, 'AdminLTEBundle') }}
            <input type="checkbox" class="pull-right" checked>
        </label>

        <p>
            {{ 'Some information about this general settings option'|trans({}, 'AdminLTEBundle') }}
        </p>
    </div>
</form>
