{% extends 'default/form2.html.twig' %}

{% block avanzu_page_title %} Form demo {% endblock %}
{% block avanzu_page_subtitle %} with some sidebar content {% endblock %}
{% block form_sidebar %}

    {# ... infobox widget, colored icon ... #}
    {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
        'color' : 'aqua',
        'icon'  : 'fas fa-comments',
    } %}
        {% block box_text %}Vestibulum ante ipsum primis{% endblock %}
        {% block box_number %}999.9{% endblock %}
        {% block progress_description %}Works as well without progress bar{% endblock %}
    {% endembed %}

    {# ... box widget with defaults ... #}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}

        {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
        {% block box_title %}Widget box title{% endblock %}
        {% block box_body %}
            <div class="callout callout-info">
                Sed libero ipsum, auctor ac volutpat ac, adipiscing a enim. Nulla convallis quam eget tortor
                dictum lobortis. Aenean tincidunt arcu id lectus facilisis imperdiet. Curabitur in orci nisl.
                Nullam vitae arcu in tellus malesuada sollicitudin ut in sem. Ut eu nunc lacus, sit amet
                venenatis mauris. Donec dui neque, cursus sed molestie sit amet, tempor quis nibh. Proin nec
                ligula non lacus fermentum tincidunt. Nam tempus lectus ut dolor imperdiet quis commodo odio
                porttitor. Fusce blandit placerat posuere. Pellentesque risus leo, tempor sit amet consequat
                tempus, dictum vel magna. Nulla dolor turpis, dignissim a sodales quis, molestie molestie magna.
                Vivamus imperdiet vestibulum tellus, quis rutrum magna eleifend quis. Pellentesque convallis
                metus nisl. Sed eu dolor massa, sit amet luctus nulla. Mauris sit amet diam urna, eget volutpat
                nunc.
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock %}
